resultado_laudos.*
src/extrator_laudo/tests/laudos/output/
src/extrator_laudo/tests/resultado/


# Ignora configurações e arquivos de ambiente de desenvolvimento
# Configuração do ambiente de desenvolvimento do IntelliJ/IDEA
.idea/
# Diretório de cache de bytecode Python
__pycache__/
# Ignora ambientes virtuais Python, incluindo o diretório padrão `.venv`
.venv
.env

tmp/**
!tmp/.keep

src/static/exports/**
!src/static/exports/.keep